--
-- PostgreSQL database dump
--

\restrict u7m8dii2dMOSti7pFfNAWGal5jvkJ0N7LuR5ZflqLF6leEb3xw2EeFgYS4udE6P

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_audit_logs; Type: TABLE; Schema: public; Owner: aiops
--

CREATE TABLE public.agent_audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    session_id uuid,
    step_id uuid,
    user_id uuid,
    action character varying(50) NOT NULL,
    command text,
    details text,
    ip_address character varying(45),
    user_agent character varying(500),
    validation_result character varying(20),
    blocked_reason character varying(500),
    output_preview character varying(1000),
    exit_code integer,
    server_id uuid,
    server_name character varying(255),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.agent_audit_logs OWNER TO aiops;

--
-- Name: agent_rate_limits; Type: TABLE; Schema: public; Owner: aiops
--

CREATE TABLE public.agent_rate_limits (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    commands_this_minute integer,
    sessions_this_hour integer,
    minute_window_start timestamp with time zone,
    hour_window_start timestamp with time zone,
    max_commands_per_minute integer,
    max_sessions_per_hour integer,
    is_rate_limited boolean,
    rate_limited_until timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.agent_rate_limits OWNER TO aiops;

--
-- Name: agent_rate_limits_id_seq; Type: SEQUENCE; Schema: public; Owner: aiops
--

CREATE SEQUENCE public.agent_rate_limits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agent_rate_limits_id_seq OWNER TO aiops;

--
-- Name: agent_rate_limits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aiops
--

ALTER SEQUENCE public.agent_rate_limits_id_seq OWNED BY public.agent_rate_limits.id;


--
-- Name: agent_sessions; Type: TABLE; Schema: public; Owner: aiops
--

CREATE TABLE public.agent_sessions (
    id uuid NOT NULL,
    chat_session_id uuid,
    user_id uuid NOT NULL,
    server_id uuid,
    goal text NOT NULL,
    status character varying(50),
    auto_approve boolean,
    max_steps integer,
    current_step_number integer,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    completed_at timestamp with time zone,
    error_message text,
    summary text,
    agent_type character varying(50),
    pool_id uuid,
    worktree_path character varying(1024),
    auto_iterate boolean,
    max_auto_iterations integer,
    last_activity_at timestamp with time zone
);


ALTER TABLE public.agent_sessions OWNER TO aiops;

--
-- Name: agent_steps; Type: TABLE; Schema: public; Owner: aiops
--

CREATE TABLE public.agent_steps (
    id uuid NOT NULL,
    agent_session_id uuid NOT NULL,
    step_number integer NOT NULL,
    step_type character varying(20) NOT NULL,
    content text NOT NULL,
    reasoning text,
    output text,
    exit_code integer,
    status character varying(20),
    created_at timestamp with time zone,
    executed_at timestamp with time zone,
    iteration_count integer,
    change_set_id uuid,
    validation_result character varying(20),
    blocked_reason text,
    step_metadata text
);


ALTER TABLE public.agent_steps OWNER TO aiops;

--
-- Name: agent_rate_limits id; Type: DEFAULT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_rate_limits ALTER COLUMN id SET DEFAULT nextval('public.agent_rate_limits_id_seq'::regclass);


--
-- Name: agent_audit_logs agent_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_audit_logs
    ADD CONSTRAINT agent_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: agent_rate_limits agent_rate_limits_pkey; Type: CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_rate_limits
    ADD CONSTRAINT agent_rate_limits_pkey PRIMARY KEY (id);


--
-- Name: agent_rate_limits agent_rate_limits_user_id_key; Type: CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_rate_limits
    ADD CONSTRAINT agent_rate_limits_user_id_key UNIQUE (user_id);


--
-- Name: agent_sessions agent_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_sessions
    ADD CONSTRAINT agent_sessions_pkey PRIMARY KEY (id);


--
-- Name: agent_steps agent_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_steps
    ADD CONSTRAINT agent_steps_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: aiops
--

CREATE INDEX idx_audit_action ON public.agent_audit_logs USING btree (action);


--
-- Name: idx_audit_session; Type: INDEX; Schema: public; Owner: aiops
--

CREATE INDEX idx_audit_session ON public.agent_audit_logs USING btree (session_id);


--
-- Name: idx_audit_user_created; Type: INDEX; Schema: public; Owner: aiops
--

CREATE INDEX idx_audit_user_created ON public.agent_audit_logs USING btree (user_id, created_at);


--
-- Name: ix_agent_audit_logs_created_at; Type: INDEX; Schema: public; Owner: aiops
--

CREATE INDEX ix_agent_audit_logs_created_at ON public.agent_audit_logs USING btree (created_at);


--
-- Name: ix_agent_rate_limits_user_id; Type: INDEX; Schema: public; Owner: aiops
--

CREATE INDEX ix_agent_rate_limits_user_id ON public.agent_rate_limits USING btree (user_id);


--
-- Name: agent_audit_logs agent_audit_logs_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_audit_logs
    ADD CONSTRAINT agent_audit_logs_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.agent_sessions(id) ON DELETE CASCADE;


--
-- Name: agent_audit_logs agent_audit_logs_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_audit_logs
    ADD CONSTRAINT agent_audit_logs_step_id_fkey FOREIGN KEY (step_id) REFERENCES public.agent_steps(id) ON DELETE SET NULL;


--
-- Name: agent_audit_logs agent_audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_audit_logs
    ADD CONSTRAINT agent_audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: agent_rate_limits agent_rate_limits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_rate_limits
    ADD CONSTRAINT agent_rate_limits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: agent_sessions agent_sessions_chat_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_sessions
    ADD CONSTRAINT agent_sessions_chat_session_id_fkey FOREIGN KEY (chat_session_id) REFERENCES public.ai_sessions(id);


--
-- Name: agent_sessions agent_sessions_pool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_sessions
    ADD CONSTRAINT agent_sessions_pool_id_fkey FOREIGN KEY (pool_id) REFERENCES public.agent_pools(id);


--
-- Name: agent_sessions agent_sessions_server_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_sessions
    ADD CONSTRAINT agent_sessions_server_id_fkey FOREIGN KEY (server_id) REFERENCES public.server_credentials(id);


--
-- Name: agent_sessions agent_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_sessions
    ADD CONSTRAINT agent_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: agent_steps agent_steps_agent_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_steps
    ADD CONSTRAINT agent_steps_agent_session_id_fkey FOREIGN KEY (agent_session_id) REFERENCES public.agent_sessions(id) ON DELETE CASCADE;


--
-- Name: agent_steps agent_steps_change_set_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aiops
--

ALTER TABLE ONLY public.agent_steps
    ADD CONSTRAINT agent_steps_change_set_id_fkey FOREIGN KEY (change_set_id) REFERENCES public.change_sets(id);


--
-- PostgreSQL database dump complete
--

\unrestrict u7m8dii2dMOSti7pFfNAWGal5jvkJ0N7LuR5ZflqLF6leEb3xw2EeFgYS4udE6P

